{% extends 'base.html' %}

{% block content %}

    <header class="d-flex align-items-center justify-content-center">
        <div>
            <h1 class="text-center">MARATHON SKILS 2016</h1>
            <h4 class="text-center">Москва, Россия</h4>
            <h4 class="text-center">15 октября 2023 года</h4>
        </div>
    </header>

    <div class="mb-4">
        <div class="d-grid align-items-center justify-content-center">
            <div>
                <button class="button-main-page">Я хочу стать бегуном</button>
            </div>
            <div>
                <button class="button-main-page">Я хочу стать спонсором бегуна</button>
            </div>
            <div>
                <button class="button-main-page">Я хочу узнать больше о событии</button>
            </div>
        </div>
        <div style="float: right !important; margin-bottom: 20px;">
            <button class="button-main-page">Я хочу узнать больше о событии</button>
        </div>
    </div>


{% endblock %}