{% extends 'base.html' %}

{% block content %}

<header class="d-flex align-items-center" style="height: 100px;">
    <div class="row" style="margin-left: 50px;">
        <div class="col-3">
            <button style="width: 100px; height: 50px;">Назад</button>
        </div>
        <div class="col-9">
            <h2 class="text-center" style="margin-top: 5px;">MARATHON SKILS 2016</h2>
        </div>
    </div>
</header>

<div style="height: 70%;">
    <div class="d-grid align-items-center justify-content-center">
        <div>
            <button class="button-main-page">Я учавствовал ранее</button>
        </div>
        <div>
            <button class="button-main-page">Я новый участник</button>
        </div>
    </div>
</div>


{% endblock %}